---
---
@import "minima";

site-sidebar {
  display: none; /* Hide the sidebar */
}
wrapper {
  max-width: 1200px; /* Adjust this value as desired */
  width: 90%; /* Use a percentage for responsiveness */
  margin-left: auto;
  margin-right: auto;
}
